

.card{
    
    height: 350px;
    width:200px;
    margin:3%;
    background-color:transparent !important; 
}
.cardimg{
    height: 100%;

}


.cardtitle{
color: white;
}
.card:hover{
    height: 355px;
    box-shadow: -41px -34px 93px -26px rgba(212,206,206,0.65);
    -webkit-box-shadow: -41px -34px 93px -26px rgba(212,206,206,0.65);
    -moz-box-shadow: -41px -34px 93px -26px rgba(212,206,206,0.65);
}
